.button-honda{
    background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
    color:white;
    border-radius: 8px;
    padding:9px 25px;
    border-style: none;
  
  }
  .jac{
     font-size: 27px;
     font-weight: 600;
  }
  .write{
      font-size: 18px;
      
      font-weight: 600;
      text-align: left;
  }