.card img{
    height:180px;
    width:298px;
    /* position:fixed; */
    padding:7px;
    border-radius: 15px;
}
.button{
    /* background-color: #f44336; */
    background-color: #f7345e;
    padding: 8px;
    border-radius: 8px;
    color:white;
    width:130px;
    border:lightgrey;
}
/* .card{
    overflow: hidden;
} */
.image-card:hover{
    background-color: pink;
  
        /* transform:scale(1.5);
        transition:transform 2s ease-in ;
        overflow: hidden; */
        
    
}

.cars{
    /* background-color; */
}

.finals{
    background-color:oldlace;
    /* padding: 10px; */
    /* background-color:whitesmoke; */
}
.halka{
    font-size: 28px;
    font-weight: 600;
}
.skip{
    text-align: left;
}
.texts{
    font-weight: 600;
    text-align: left;
}
.mans{
    color:brown;
}